<% layout('layouts/boilerplate') %>

  <div class="container splash text-center">
    <div class="row">
      <h1>Welcome to HomeFolio!</h1>
    </div>
    <div class="row mt-5">
      <p>Keep track of files and expenses for all of your household items, and add reminders to help you stay on top of
        things, all in one place.</p>
    </div>
    <div class="row mt-5">
      <a href="/items">
        <button class="btn btn-primary btn-large">
          Get started <i class="bi bi-arrow-right"></i>
        </button>
      </a>
    </div>
  </div>

  <script src="/javascripts/indexPage.js"></script>