<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <form action='/items/64de908ad68cd778bf808e9b/files' method="post" enctype="multipart/form-data">
    <input type="file" id="uploadFile" name="uploadFile">
    <label for="description">Description</label>
    <input type="text" id="description" name="file[description]">
    <label for="isExpense">Is this an expense?</label>
    <select name="isExpense" id="isExpense">
      <option value="true" selected>Expense</option>
      <option value="false">File</option>
    </select>
    <button>Submit</button>
  </form>
</body>

</html>