<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <form action='64dd64e376a665977a93d6d2/files' method="post" enctype="multipart/form-data">
    <input type="file" id="uploadFile" name="uploadFile">
    <label for="description">Description</label>
    <input type="text" id="description" name="file[description]">
    <label for="expense">Expense</label>
    <input type="text" id="expense" name="file[expense]">
    <button>Submit</button>
  </form>
</body>

</html>