<% layout('layouts/boilerplate') %>

<div class="container-fluid">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-6 py-3" id="login-container">
      <div class="row mb-3">
        <div class="col text-center">
          <h1>Reset Password</h1>
        </div>
      </div>
      <div class="row px-4">
        <div class="col">
          <form
            action=<%= `/resetPassword/${requestId}` %>
            method="post"
            class="needs-validation"
            novalidate
          >
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input
                aria-describedby="password-help"
                type="password"
                class="form-control"
                id="password"
                name="password"
                minlength="6"
                maxlength="20"
                required
              />
              <div class="invalid-feedback">
                Please enter a valid password. Password must be between 6 and 20
                characters.
              </div>
              <div class="form-text" id="password-help">
                Password must be between 6 and 20 characters.
              </div>
            </div>
            <div class="mb-3">
              <label for="confirm-password" class="form-label"
                >Confirm Password</label
              >
              <input
                type="password"
                class="form-control"
                id="confirm-password"
                minlength="6"
                maxlength="20"
                required
              />
              <div class="invalid-feedback" id="confirm-password-feedback">
                Please confirm password.
              </div>
            </div>
            <div class="row">
              <div class="col text-center">
                <button type="submit" class="btn btn-primary">
                  Reset Password
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/javascripts/validateRegisterForm.js"></script>
